//
// DEPRECATED
//

///** START   Box */

@mixin bg-clip ($clip) {
  // useful if you don't want a bg color from leaking outside the border
     -moz-background-clip: $clip; 
  -webkit-background-clip: #{$clip}-box; 
          background-clip: #{$clip}-box;   
}

@mixin border-radius ($radius:10px, $clip:border) {
     -moz-border-radius: $radius; // FF1-3.6
  -webkit-border-radius: $radius; // Saf3-4, iOS 1-3.2, Android <1.6
          border-radius: $radius; // Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+
  @include bg-clip($clip);
}

@mixin border-radius-table ($radius:10px, $clip:border) {
  thead tr:first-child {
    th:first-child  { @include border-side-radius(top-left, $radius, $clip, topleft); }
    th:last-child   { @include border-side-radius(top-right, $radius, $clip, topright); }
  }
  tfoot tr:last-child {
    td:first-child  { @include border-side-radius(bottom-left, $radius, $clip, bottomleft); }
    td:last-child   { @include border-side-radius(bottom-right, $radius, $clip, bottomright); }
  }
}

@mixin border-side-radius ($side, $radius:10px, $clip:border, $moz-side:'') {
     -moz-border-radius-#{$moz-side}: $radius;  // FF1-3.6
  -webkit-border-#{$side}-radius: $radius;      // Saf3-4, iOS 1-3.2, Android <1.6 
          border-#{$side}-radius: $radius;      // Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ 
  @include bg-clip($clip);
}

@mixin transition ($property, $time:0.3s, $easing:ease-in-out) {
           -moz-transition-property: #{$property};
           -moz-transition-duration: $time;
    -moz-transition-timing-function: $easing;  // FF4+
             -o-transition-property: #{$property}; 
             -o-transition-duration: $time; 
      -o-transition-timing-function: $easing;  // Opera 10.5+
        -webkit-transition-property: #{$property}; 
        -webkit-transition-duration: $time; 
 -webkit-transition-timing-function: $easing;  // Saf3.2+, Chrome
            -ms-transition-property: #{$property}; 
            -ms-transition-duration: $time; 
     -ms-transition-timing-function: $easing;  // IE10?
                transition-property: #{$property};
                transition-duration: $time;
         transition-timing-function: $easing;
}

@mixin single-inset ($x, $y, $size, $color) {
     -moz-box-shadow: inset $x $y $size $color;  // FF3.5 - 3.6
  -webkit-box-shadow: inset $x $y $size $color;  // Saf3.0+, Chrome
          box-shadow: inset $x $y $size $color;  // Opera 10.5, IE9, FF4+, Chrome 10+
}

@mixin single-shadow ($x, $y, $size, $color) {
     -moz-box-shadow: $x $y $size $color;  // FF3.5 - 3.6
  -webkit-box-shadow: $x $y $size $color;  // Saf3.0+, Chrome
          box-shadow: $x $y $size $color;  // Opera 10.5, IE9, FF4+, Chrome 10+
}

@mixin simple-gradient ($highlight, $shadow, $highlight-position:0%, $shadow-position:100%) {
  background-color: $highlight;
  background-image: -webkit-linear-gradient(top, $highlight $highlight-position, $shadow $shadow-position); // Chrome 10+, Saf5.1+ 
  background-image:    -moz-linear-gradient(top, $highlight $highlight-position, $shadow $shadow-position); // FF3.6
  background-image:     -ms-linear-gradient(top, $highlight $highlight-position, $shadow $shadow-position); // IE10
  background-image:      -o-linear-gradient(top, $highlight $highlight-position, $shadow $shadow-position); // Opera 11.10+
  background-image:         linear-gradient(top, $highlight $highlight-position, $shadow $shadow-position);
}
// TODO refine
@mixin simple-gradient-old ($highlight, $shadow) {
  @include simple-gradient($highlight, $shadow);
  background-image: -webkit-gradient(linear, left top, left bottom, from($highlight), to($shadow)); // Saf4+, Chrome
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$highlight', EndColorStr='$shadow'); // IE6-IE9
}

@mixin single-stop-gradient ($start-color, $stop-color, $stop-position:50%, $position:top, $end-color:$start-color) {
  background-color: $stop-color;
  background-image: -webkit-linear-gradient($position, $start-color, $stop-color $stop-position, $end-color); // Chrome 10+, Saf5.1+
  background-image:    -moz-linear-gradient($position, $start-color, $stop-color $stop-position, $end-color); // FF3.6
  background-image:     -ms-linear-gradient($position, $start-color, $stop-color $stop-position, $end-color); // IE10
  background-image:      -o-linear-gradient($position, $start-color, $stop-color $stop-position, $end-color); // Opera 11.10+
  background-image:         linear-gradient($position, $start-color, $stop-color $stop-position, $end-color);    
}

// reverse for contour
@mixin simple-bevel ($shadow, $highlight) {
     -moz-box-shadow: inset 0 0 1px $shadow, 0 0 1px $highlight; 
  -webkit-box-shadow: inset 0 0 1px $shadow, 0 0 1px $highlight; 
          box-shadow: inset 0 0 1px $shadow, 0 0 1px $highlight;  
}

@mixin simple-v-bevel ($size-1, $size-2, $shift, $highlight, $shadow, $shadow-2) {
     -moz-box-shadow: inset 0 0 $size-1 $highlight, 0 0 $size-2 $shadow, 0 $shift 0 $shadow-2; 
  -webkit-box-shadow: inset 0 0 $size-1 $highlight, 0 0 $size-2 $shadow, 0 $shift 0 $shadow-2; 
          box-shadow: inset 0 0 $size-1 $highlight, 0 0 $size-2 $shadow, 0 $shift 0 $shadow-2;  
}

// reverse for concavity
@mixin simple-contour ($size-1:15px, $size-2:2px, $size-3:10px, $shift-1:3px, $shift-2:3px, $shadow-1:$b-3, $shadow-2:$b-5, $shadow-3:$b-8, $shadow-4:$b-2) {
     -moz-box-shadow: inset 0 0 $size-1 $shadow-1, 0 0 $size-2 $shadow-2, 0 $shift-1 $size-3 $shadow-3, 0 $shift-2 0 $shadow-4; 
  -webkit-box-shadow: inset 0 0 $size-1 $shadow-1, 0 0 $size-2 $shadow-2, 0 $shift-1 $size-3 $shadow-3, 0 $shift-2 0 $shadow-4; 
          box-shadow: inset 0 0 $size-1 $shadow-1, 0 0 $size-2 $shadow-2, 0 $shift-1 $size-3 $shadow-3, 0 $shift-2 0 $shadow-4; 
}

@mixin mesh-pattern-dark ($color) {
  background: $color  
              url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAYAAABLLYUHAAAAGklEQVQIW2NkQAKMMPb///+N4RygoA8yhwEAYOgDgYLmjHMAAAAASUVORK5CYII=)
              top left repeat scroll;
}

@mixin apple-gloss-gradient ($angle, $stop-1, $stop-2, $size) {
  background-color: transparent;
  background-image:    -moz-linear-gradient($angle, #fff $stop-1, $w-5 $stop-2, transparent $size);
  background-image: -webkit-linear-gradient($angle, #fff $stop-1, $w-5 $stop-2, transparent $size);
  background-image:      -o-linear-gradient($angle, #fff $stop-1, $w-5 $stop-2, transparent $size);
  background-image:     -ms-linear-gradient($angle, #fff $stop-1, $w-5 $stop-2, transparent $size);
  background-image:         linear-gradient($angle, #fff $stop-1, $w-5 $stop-2, transparent $size);
}

///* END      Box **/
///** START   Text */

@mixin text-inset ($highlight-1:$w-5, $highlight-2:$w-5, $shift:-1px) { 
  text-shadow: $shift $shift 0 $highlight-1, 
               $shift*-1 $shift*-1 0 $highlight-2, 
               0 $shift 0 $highlight-1, 
               0 $shift*-1 0 $highlight-2;
}

@mixin text-inset-inverted ($shadow-1:#000, $shadow-2:#000, $shift:-1px) { 
  @include text-inset($shadow-1, $shadow-2, $shift);
}

@mixin text-selection ($color:$b-2, $text-color:#fff) {
  ::-moz-selection { background: $color; color: $text-color; text-shadow: none; }
       ::selection { background: $color; color: $text-color; text-shadow: none; }  
  @if $color == transparent {
    cursor: default;
  }
}

@mixin text-overflow ($value:ellipsis) {
      text-overflow: $value;
  -ms-text-overflow: $value;
   -o-text-overflow: $value;
}

///* END      Text **/
///** START   Animation */

@mixin anim-slide ($dir, $open, $closed) {
  & .cover {
    @include transition($dir, 0.3s, cubic-bezier(0.5, 0, 0.5, 1));
  }
  &.#{$open} .cover {
    #{$dir}: -100%;
  }
  &.#{$closed} .cover {
    #{$dir}: 0;
  }
}

@mixin anim-onhover ($property, $value-1, $value-2, $target:'&') {
  #{$target} {
    @include transition($property);
    #{$property}: $value-1;
  }
  &:hover { 
    #{$target} {
      #{$property}: $value-2; 
    }
  }
}


@mixin anim-fadein-onhover ($target:'&', $opacity:0.6) {
  @include anim-onhover(opacity, $opacity, 1, $target);
}

///* END      Animation **/
///** START   Colors */

$w-9: rgba(255,255,255, 0.9);
$w-8: rgba(255,255,255, 0.8);
$w-7: rgba(255,255,255, 0.7);
$w-6: rgba(255,255,255, 0.6);
$w-5: rgba(255,255,255, 0.5);
$w-4: rgba(255,255,255, 0.4);
$w-3: rgba(255,255,255, 0.3);
$w-2: rgba(255,255,255, 0.2);
$w-1: rgba(255,255,255, 0.1);

$b-9: rgba(0,0,0, 0.9);
$b-8: rgba(0,0,0, 0.8);
$b-7: rgba(0,0,0, 0.7);
$b-6: rgba(0,0,0, 0.6);
$b-5: rgba(0,0,0, 0.5);
$b-4: rgba(0,0,0, 0.4);
$b-3: rgba(0,0,0, 0.3);
$b-2: rgba(0,0,0, 0.2);
$b-1: rgba(0,0,0, 0.1);

///* END      Colors **/
