/**
 * The Layout Stylesheet
 * @see         readme.txt
 * @author      peng@pengxwang.com
**/

@import 'layout_screen.css' screen;
@import 'layout_print.css' print;
@import 'layout_mobile.css' mobile;

* {
    
}