//
// DEPRECATED
//

$width-screen: 960px;
$width-screen-min: 640px;
$width-mobile: 480px;

// fill color palette
$clr-f-back: #eee;
$clr-f-paper: #fff;
$clr-f-button-l: #ddd;
$clr-f-button-d: #999;

// text color palette
$clr-t-base: #222;
$clr-t-link: #2989C9;
$clr-t-glow: #08f;
$clr-t-lead: #2989C9;
$clr-t-button: #666;
$clr-t-meta: #999;

// line color palette
$clr-l-base: #ccc;
$clr-l-row: #ddd;

@mixin lead-text {
  font: {
    family: 'Holtwood One SC', serif;
    weight: normal;
    size: 24px;
  }
  color: $clr-t-lead;
}

@mixin labeled-item ($font-size) {
  @include transition(color);
  color: $clr-t-button;
  text-shadow: 0 -1px 0 $b-3, 0 1px 0 $w-5;
  font: {
    size: $font-size;
    weight: bold;
  }
  &:hover {
    color: $clr-t-glow;
  }
}

@mixin button ($font-size) {
  @include border-radius(6px);
  @include simple-gradient($clr-f-button-l, $clr-f-button-d);
  @include simple-v-bevel(2px, 2px, 3px, #fff, $b-8, $b-3);
  @include labeled-item($font-size);
  border: 0;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  &:hover {
    @include simple-gradient(#fff, $clr-f-button-d); // TODO calc
  }
  &:active {
    margin: {
      top: 3px;
      bottom: -3px;
    }
    padding-bottom: 2px;
    @include simple-gradient($clr-f-button-l, $clr-f-button-d);
    @include simple-v-bevel(2px, 3px, -3px, #fff, #000, $b-5);
  }
}

@mixin row () {
  padding: 10px 0;
  &:not(:first-child) {
    border-top: 1px solid $clr-l-row;
  }
}

@mixin textfield () {
  textarea,
  select,
  input[type="url"],
  input[type="email"],
  input[type="search"],
  input[type="password"],
  input[type="text"] {
    @include reset-textfield;
    @include border-radius(4px);
    @include single-inset(0, 1px, 2px, $b-5);
    width: 200px;
    padding: 5px;
    background: $clr-f-back;
    @include transition(width, 1); // TODO doesn't work
    @include transition(background-color);
    &:focus {
      width: 300px;
      background: $clr-f-paper;
    }
  }
}

@mixin metatype () {
  font: {
    family: Georgia, serif;
    size: 12px;
    style: italic;
    weight: normal;
  }
  color: $clr-t-meta;
}