//
// DEPRECATED
//

/** START   Utils */

@mixin clearfix {
  &::before, &::after { 
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden; 
  }
  &::after { clear: both; }
  zoom: 1; 
}

@mixin navbar ($spacing:1em, $child-element:'button', $padding:false) {
  @include clearfix;
  display: block;
  >#{$child-element} {
    display: block;
    float: left;
    @if $padding != false {
      padding-left: $spacing / 2;
      padding-right: $spacing / 2;
    } @else {
      margin-right: $spacing;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@mixin centered ($size) {
  top: 50%; left: 50%; margin-top: -$size/2; margin-left: -$size/2;
}

@mixin replaced {
  display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; 
}

@mixin invisible {
  border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; 
  clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; 
}

@mixin nested-tables {
  th.table-wrap,
  td.table-wrap {
    padding: 0;
    width: 100%;
  }
  .table-wrap>table {
    width: 100%;
  }
}

@mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@mixin reset-headers ($base-line-height: 1.4) {
  & h1, & h2, & h3, & h4, & h5, & h6 {
    @include reset-spacing;
    font-size: 1em;
    line-height: $base-line-height;
  }
}

@mixin reset-list {
  &, &>li {
    @include reset-spacing;
    list-style: none;
  }
}

@mixin reset-content {
  p {
    @include reset-spacing;
    &:not(:first-child) {
      margin-top: 1em;
    }
  }
}

@mixin reset-textfield {
  border: {
    width: 0;
    style: solid;
    color: transparent;
  }
}

/*@mixin html-content {
  & pre {
    display: block;
    padding: 5px;
    margin: 1em 0;
    font-family: consolas, monospace;
    font-size: 0.8em;
    color: #fff;
    background: #222;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; 
  }
  & ul {list-style: square; padding: 0; margin: 1.4em 0; }
  & li { margin: 0.35em 0; }
  & h1 { margin: 0.25em 0 0.5em; font-size: 3.5em; }
  & h2 { margin: 1.25em 0 0.75em; font-size: 1.5em; }
  & p { margin: 0 0 1em; }
  & td { padding: 2px 10px; }
  @media screen and (max-width:480px) {
    & body { font-size: 0.875em; }
    & h1 { font-size: 3em; }
  }
}*/

/* END      Utils **/